<div class="container">
	<h1><%= __('User') %>s for SAILS<small>js</small> + REACT<small>js</small></h1>
</div>

<div class="container" id="userForm"></div>
<div class="container" id="userList"></div>

<script src="/js/userMain.js"></script>